@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0d141c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;
}

/* Custom styles for the real estate app */
.form-input:focus {
  outline: none;
  box-shadow: none;
}